h1 {
    margin-top: 175px;
    position: absolute;
    color: white;
    justify-content: center;
    margin-left: 46%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    font-weight: lighter;

}
.section2 h2 {
    text-align: right;
    
}
.section2 p {
    text-align: right;
    margin-top: 40px;
}
h2 {
    color: #098fa4;
}
section {
    margin-left: 15rem;
    margin-right: 15rem;
}
footer {
    width: 100%;
    height: 150px;
    background-color:#022d35;
    position: absolute;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
span {
    content: "\00A9";
    size: 25px;
    color: white;
}
@media only screen and (max-width: 480px) {
    footer {
      background-color: #01d0f9;
    }
}
@media only screen and (min-width: 490px) and (max-width: 768px)  {
        footer {
          background-color: #b5838d;
    }
}
@media only screen and (min-width: 770px) and (max-width: 1024px)  {
    footer {
      background-color: #e29578;
}
}